header.big_Container.header
	.header_cont
		.header_cont_left
			a(href="/").logo
				img(src="img/logo.png")
		button.open_menu
			span
			span
			span
		.header_cont_rigth
			.header_cont_rigth_nav
				ul
					li
						a ¶ÈÊ²ìàð
					li
						a üÆÈØºð
					li
						a Øºð Ø²êÆÜ
					li
						a ØºÜÚàô
			.header_cont_rigth_button
				a
					include ../../img/shopping-bag 1.svg
				a.qom øÞÆ ²ðÆ 
					
		
		
